//icons
$icons-margin: .2em;
$icons-padding: 1em;
$icons-radius: 1px;
//nav
$nav-item-border: 3px;
$nav-item-border-style: solid;
$nav-item-border-color: $secundary;
//card
$card-radius: 1em;
//tab
$tabs-ul-border-style: none !important;
$tabs-padding: 2rem 0 1rem 0 !important;
//image
$images-radius: 1em;
//spacing
$mp-0: 0;
$mp-1: 0.25rem;
$mp-2: 0.5rem;
$mp-3: 0.75rem;
$mp-4: 1rem;
$mp-5: 1.5rem;
$mp-6: 3rem;